* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;

}

.header {
    width: 20%;
    background-color: #0e1529;
    height: 30px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: #ef3d4d;
    width: 80%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

}

.hero {
    width: 100%;
    background-color: aquamarine;
    color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
}

.main {
    width: 50%;
    background-color: #0e1529;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-right {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.img {
    width: 50%;
    height: 50%;
    background-color: rgb(90, 172, 126);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.extra {
    width: 50%;
    height: 50%;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.banner {
    width: 100%;
    height: 100px;
    background-color: rgb(133, 118, 35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-menu {
    display: none;
}

@media (max-width:768px) {
    .menu {
        display: none;
    }

    .header {
        width: 100%;
    }

    .tab-parent {
        display: flex;
    }

    .tab-menu {
        display: block;
        background-color: #ef3d4d;
        width: 25%;
        height: 200px;
        color: white;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    


}